@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  margin-top: 160px;
  margin-bottom: 160px;
}

html {
  font-size: 62.5%;
  font-family: "poppins";
}


.main-container {
  max-width: 1200px;
  grid-template-columns: repeat(2, 1fr);
  gap: 25.6px;
  position: absolute;
  margin-bottom: 25.6px;
}

.main-container p {
  font-size: 36.8px;
}


.photo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:25.6px;
}

.photo-container img {
  width: 100%;
}


.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25.6px;
}

.checkbox-conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.16px;
}

#toggleSwitch {
  position: relative;
  width: 64px;
  height: 35.2px;
  -webkit-appearance: none;
  background: #666;
  outline: none;
  border-radius: 32px;
  transition: 0.5s;
}

#toggleSwitch:checked {
  background: #03a9f4;
}

#toggleSwitch::before {
  content: " ";
  position: absolute;
  width: 25.6px;
  height: 25.6px;
  border-radius: 32px;
  top: 4px;
  left:35.2px;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  transition: 0.5s;
}

#toggleSwitch:checked:before {
  left: 21px;
}

#loadMoreBtn {
  padding: 16px 32px;
  background: none;
  border: 1px solid #6b4bd4;
  border-radius: 8px;
  color: #fff;
  font-size: 25.6px;
  background-color: #6b4bd4;
  transition: all 0.5s;
}

#loadMoreBtn:hover {
  background-color: #fff;
  color: #6b4bd4;
  cursor: pointer;
}

label {
  font-size: 25.6px;
  margin-left: 3.2px;
}


.grayscale {
  filter: grayscale(100%);
}
